@model IEnumerable<Domain.Entities.PageGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-sm btn-success" id="btnNewGroup">New Group</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupTitle)
                </td>
                <td>
                    <a class="btn btn-sm btn-warning" onclick="editGroup(@item.Id)">Edit</a>
                    <a class="btn btn-sm btn-danger" onclick="deleteGroup(@item.Id)">Delete</a>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mymodallable">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="myModalBody">
                
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Bootstrap-modal.js"></script>
    <script>
        $("#btnNewGroup").click(function(){
            $.get("PageGroups/Create", function(result){
                $("#modelId").modal("show");
                $("#mymodallable").html("New Group");
                $("#myModalBody").html(result);
            })
        });
        function editGroup(id)
        {
            $.get("PageGroups/Edit/"+id, function(result)
            {
                $("#modelId").modal("show");
                $("#mymodallable").html("Edit Group");
                $("#myModalBody").html(result);
            })
        }
        function deleteGroup(id)
        {
            $.get("PageGroups/Delete/"+id, function(result)
            {
                $("#modelId").modal("show");
                $("#mymodallable").html("Delete Group");
                $("#myModalBody").html(result);
            })
        }
    </script>
}